/* QUELQUE RETOUCHES STYLE DU MENU */
.logo{
    font-size: 1.9rem;
}
nav a{
    font-size: 1.3rem;
}
.active{
    color: #2B7FFF;
    font-weight: 600;
    border-bottom: 2px solid #2B7FFF;
}

.ligne {
    position: relative;
    display: inline-block;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.ligne::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #2B7FFF;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.ligne:hover {
    color: #2B7FFF;
}

.ligne:hover::after {
    width: 100%;
}


/* RETOUCHE STYLE ICON */
ion-icon {
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}